/** Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-position: top center;
  background-repeat: no-repeat;

  a {
    text-decoration: none;
  }

  img {
    min-width: 100%;
    height: auto;
  }
}

/** Main navigation */

.main-navigation {
  font-size: 18px;
  line-height: 22px;
  color: burlywood;
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

/** User navigation */

.site-navigation a {
  color: blue;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: yellowgreen;
}
